@inject NavigationManager NavigationManager

<div class="top-row">
    <div class="container-fluid">
        <a class="navbar-brand" href="">KidsChore</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="CloseMenu">
    <nav class="nav-menu">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Kids
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="locations">
                Locations
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="choreitems">
                Chore Items
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="completions">
                Completions
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="report">
                Weekly Report
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="login">
                Login
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "nav-menu-collapsed" : "nav-menu-expanded";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CloseMenu()
    {
        collapseNavMenu = true;
    }
}
