@using Microsoft.AspNetCore.Components

<nav class="nav-menu @Class">
    <a class="nav-link" href="/gymtracker">
        <span class="oi oi-home"></span> Home
    </a>
    <a class="nav-link" href="cardio-sessions">
        <span class="oi oi-pulse"></span> Cardio Sessions
    </a>
    <a class="nav-link" href="weight-training-sessions">
        <span class="oi oi-bar-chart"></span> Weight Training
    </a>
    <a class="nav-link" href="locations">
        <span class="oi oi-map-marker"></span> Locations
    </a>
    <a class="nav-link" href="workout-types">
        <span class="oi oi-list"></span> Workout Types
    </a>
    <a class="nav-link" href="cardio-types">
        <span class="oi oi-heart"></span> Cardio Types
    </a>
    <a class="nav-link" href="analytics">
        <span class="oi oi-graph"></span> Analytics
    </a>
</nav>

@code {
    [Parameter] public string Class { get; set; }
}
